.footer__copyright {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.15em;
    margin: 0;
    text-align: right;
}

@media screen and (max-width: 475px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 1em;
    }
}