@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__list-quantity/intro__list-quantity.css);

.intro {
    padding: 0 394px 92px 100px;
}

@media screen and (max-width: 1024px) {
    .intro {
        padding: 0 286px 92px 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding: 0 24px 88px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        padding: 0 16px 64px;
    }
}