.place__link {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2em;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: opacity 1s ease;
}

.place__link:hover {
    opacity: 0.3;
}